apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 9200
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: htpasswd-file
          mountPath: /etc/nginx/.htpasswd
          subPath: .htpasswd
      volumes:
      - name: nginx-conf
        configMap:
          name: nginx-config
          items:
          - key: nginx.conf
            path: nginx.conf
      - name: htpasswd-file
        secret:
          secretName: htpasswd-secret
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  nginx.conf: |
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        access_log /var/log/nginx/access.log;

        sendfile on;
        keepalive_timeout 65;

        server {
            listen 9200;
            server_name nginx-service.monitoring.svc.cluster.local;

            location / {
                auth_basic "Restricted Content";
                auth_basic_user_file /etc/nginx/.htpasswd;
                proxy_pass http://elasticsearch_server;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

                proxy_ssl_verify off;
                proxy_ssl_verify_depth 0;
            }

        }

        upstream elasticsearch_server {
            server quickstart-es-http.monitoring.svc.cluster.local:9200;
        }

    }
---
apiVersion: v1
kind: Secret
metadata:
  name: htpasswd-secret
type: Opaque
data:
  .htpasswd: ZWxhc3RpYzoyZzBIckEzNWc2RDdMY3NCVDI2MDJYUHc=
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
    - protocol: TCP
      port: 9200
      targetPort: 9200
  type: ClusterIP